[submodule "ThirdParty/libuv"]
	path = ThirdParty/libuv
	url = https://github.com/libuv/libuv
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "ThirdParty/SDL_ttf"]
	path = ThirdParty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "ThirdParty/SDL_mixer"]
	path = ThirdParty/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "ThirdParty/SDL_image"]
	path = ThirdParty/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "ThirdParty/uvw"]
	path = ThirdParty/uvw
	url = https://github.com/Przemek2122/uvw
